 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>My main interests include machine learning (and data science in general) and game development. I do my best to keep learning new things, with a focus on machine learning currently, with the help of an excellent book by Aurélien Géron, Hands-On Machine Learning with Scikit-Learn and TensorFlow.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am proficient with Unity and studying and practicing with Unreal Engine. In game development, I am interested in the mathematics behind beautiful graphics. Shaders are one of the things I hope to eventually get more into. My favorite games of all time include: Journey, Bloodborne, VA-11 Hall-A, NieR: Automata.</p>
                </div>
            </div>
        </div>
    </section>